@model CES.ASP.Models.Sample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sqft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sqft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grand_total_weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grand_total_weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grand_total_percentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grand_total_percentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight_unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight_unit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
