@model IEnumerable<CES.ASP.Models.Sample>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sqft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grand_total_weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grand_total_percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight_unit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sqft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grand_total_weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grand_total_percentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight_unit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("JSON", "JSON", new { item.Id } )
        </td>
    </tr>
}

</table>
